.modProfil {
  display: flex;
  flex-direction: column;

  margin: 1rem auto;
  width: 37rem;
  padding: 1rem;

  border: 1px solid var(--color-blanche-froid);
  border-radius: 1rem;

  font-family: Arial, sans-serif;

  background-color: var(--color-blanche);
  box-shadow: 0 4px 6px var(--color-noir-50);
}

.modProfil__title {
  margin-bottom: 1.25rem;

  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;

  color: var(--color-noir);
}

.modProfil__form {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.modProfil__form input,
.modProfil__form select {
  padding: 1rem;
  border: 1px solid var(--color-jaune-fonce);
  border-radius: 4px;

  font-size: 1rem;

  outline: none;

  transition: border-color 0.3s ease;
}

.modProfil__form input:focus,
.modProfil__form select:focus {
  border-color: var(--color-jaune);
}

.modProfil__form input[type="button"] {
  border: none;

  font-weight: bold;
  color: var(--color-blanche);
  background-color: var(--color-jaune-fonce);

  cursor: pointer;

  transition: background-color 0.3s ease;
}

.modProfil__form input[type="button"]:hover {
  background-color: var(--color-jaune);
}

.modProfil__form select {
  background-color: var(--color-blanche);
}

.modProfil__form input::placeholder {
  color: var(--color-gray);
  font-style: italic;
}
