.ProfilSelector {
  background-color: black;
}

.profil-card {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: left;
  width: auto;
  height: 4rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 8px;
  padding: 1rem;
  margin: 0.5rem;
  background-color: var(--color-bg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.profil-card:hover {
  background-color: black;
}

.profil-card__avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.profil-card__name {
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-fg);
  margin-bottom: 0.3rem;
}

.profil-card__age-restriction {
  font-size: 0.9rem;
  color: var(--color-muted);
}
