.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 3rem;
  border-radius: 0 0 1rem 1rem;

  color: var(--color-fg);
  background-color: var(--color-gray-fonce);
}

.navbar .navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar .navbar__item {
  display: flex;
  flex-direction: row;

  --_offset: 0.2rem;
  padding: 0.5rem 1rem;

  font-family: var(--ff-sans);
  font-size: 1rem;
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: var(--_offset);

  cursor: pointer;
  color: var(--color-blanche);
}

.navbar .navbar__item:hover {
  --_offset: 0.5rem;
}

.navbar .navbar__item.deroulant:hover .sous {
  display: block;
}

.sous {
  display: none;
  position: absolute;
  translate: 0 2rem;
  z-index: 1000;

  max-width: max-content;
  padding: 0.5rem;
  border: 1px solid #ffffff80;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px var(--color-noir-50);

  font-family: var(--ff-sans);
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-blanche);

  background-color: var(--color-noir);
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.sous:hover,
.sous:focus,
.sous:active {
  display: block;
}

.sous option {
  display: block;

  padding: 0.5rem;
  border: none;

  color: var(--color-blanche);
  cursor: pointer;
}

.sous li {
  padding: 0.5rem;
}

.favorie-card__name {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--ff-sans);
  font-size: 1rem;
}
