.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  color: var(--color-fg);
  background-color: #1f222b;
  border-radius: 0 0 1rem 1rem;
}

.navbar .navbar__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar .navbar__item {
  display: flex;
  flex-direction: row;
  --_offset: 0.2rem;
  padding: 0.5rem 1rem;
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: var(--_offset);
  cursor: pointer;
}

.navbar .navbar__item:hover {
  --_offset: 0.5rem;
}

.navbar .navbar__item.deroulant:hover .sous {
  display: block;
}

.sous {
  display: none;
  position: absolute;
  translate: 0 2rem;
  background-color: #000;
  border: 1px solid #ffffff80;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: var(--color-fg);
  z-index: 1000;
  font-size: 1rem;
  font-weight: bold;
  appearance: none; /* Supprime le style natif du navigateur */
  cursor: pointer;
  max-width: max-content;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.sous:hover {
  display: block;
}

.sous:focus {
  display: block;
}

.sous option {
  display: block;
  color: var(--color-fg);
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}

.sous li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.favorie-card__name {
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
