.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0 3rem;

  border-bottom: 4px solid var(--gradient-rainbow);

  color: var(--color-fg);
  background: var(--color-gray-fonce);
}

.navbar__logo {
  width: auto;
  height: 1.75rem;
}

.navbar .navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__container--left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar .navbar__item {
  display: flex;
  flex-direction: row;

  padding: 1rem 0.5rem;

  font-family: var(--ff-sans);
  font-size: 1.125rem;

  cursor: pointer;
  color: var(--color-gray);
}

.navbar__item:nth-child(1) {
  --_offset: 0.3rem;

  font-family: var(--ff-sans-bold);

  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: var(--_offset);

  color: var(--color-blanche);
}

.navbar__item:hover {
  color: var(--color-green);
}

.navbar .navbar__item:hover {
  --_offset: 0.5rem;
}

.navbar .navbar__item.deroulant:hover .sous {
  display: block;
}

.sous {
  display: none;
  position: absolute;
  translate: 0 2.5rem;
  z-index: 1000;

  max-width: max-content;
  padding: 0.5rem;
  border: 1px solid #ffffff80;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px var(--color-noir-50);

  font-family: var(--ff-sans);
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-noir);

  background-color: var(--color-green);
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.sous:hover,
.sous:focus {
  display: block;
}

.sous option {
  display: block;

  padding: 0.5rem;
  border: none;

  color: var(--color-blanche);
  cursor: pointer;
}

.sous li {
  padding: 0.5rem;
}

.favorie-card__name {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--ff-sans);
  font-size: 1rem;
}
