<nav class="navbar font-sans">
  <div class="navbar__container--left">
    <img class="navbar__logo" src="../server/images/logo.svg" alt="Logo" />

    <ul class="navbar__list">
      <li class="navbar__item deroulant">
        Profil
        <select class="sous" id="ProfilSelector"></select>
      </li>

      <li class="navbar__item deroulant">
        Favoris
        <ul class="sous" id="FavorieList"></ul>
      </li>

      <li class="navbar__item" onclick="{{hAbout}}">About</li>
    </ul>
  </div>

  <div class="navbar__container--right">
    <ul class="navbar__list">
      <li class="navbar__item" onclick="{{hRecherche}}">
        <img
          class="navbar__icon"
          src="../server/images/search.svg"
          alt="Search"
        />
      </li>
    </ul>
  </div>
</nav>
