<nav class="navbar font-sans">
  <div class="navbar__container--left">
    <img class="navbar__logo" src="../server/images/logo.svg" alt="Logo" />

    <ul class="navbar__list">
      <li class="navbar__item deroulant">
        Profil
        <select class="sous" id="ProfilSelector"></select>
      </li>

      <li class="navbar__item deroulant">
        Catégorie
        <div class="category__selector" id="category-selector">
          <select class="category__selector--options sous" id="category">
            <option class="category-selector--option" value="all" selected>
              Tous les animes
            </option>
            <option class="category__selector--option" value="1">Action</option>
            <option class="category__selector--option" value="2">
              Comédie
            </option>
            <option class="category__selector--option" value="3">Drame</option>
            <option class="category__selector--option" value="4">
              Science-fiction
            </option>
            <option class="category__selector--option" value="5">
              Thriller
            </option>
            <option class="category__selector--option" value="6">
              Horreur
            </option>
            <option class="category__selector--option" value="7">
              Aventure
            </option>
            <option class="category__selector--option" value="8">
              Fantaisie
            </option>
            <option class="category__selector--option" value="9">
              Documentaire
            </option>
            <option class="category__selector--option" value="10">
              Romance
            </option>
          </select>
        </div>
      </li>

      <li class="navbar__item deroulant">
        Favoris
        <ul class="sous" id="FavorieList"></ul>
      </li>

      <li class="navbar__item" onclick="{{hAbout}}">About</li>
    </ul>
  </div>

  <div class="navbar__container--right">
    <ul class="navbar__list">
      <li class="navbar__item" onclick="{{hRecherche}}">
        <img
          class="navbar__icon"
          src="../server/images/search.svg"
          alt="Search"
        />
      </li>
    </ul>
  </div>
</nav>
