.animecard {
  display: block;

  width: 100%;
  max-width: 18rem;
  height: auto;
  overflow: hidden;
  border-radius: 1rem;

  background-color: var(--color-noir);
  border: var(--color-gray-fonce2) solid 0.2rem;

  transition: transform 0.3s ease-in-out;
}

.animecard:hover {
  transform: scale(1.05);
  .animecard__information {
    display: flex;
  }
}

.animecard__image {
  display: block;

  position: relative;

  width: 100%;
  height: 25rem;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
}

.animecard__image--affiche {
  display: block;

  width: 100%;
  height: 100%;
}

.animecard__like,
.animecard__dislike {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 1rem;

  width: 3rem;
  height: 3rem;
  border-radius: 50%;

  border: var(--color-green) solid 0.2rem;
  background-color: var(--color-noir-50);

  cursor: pointer;
}

.animecard__like {
  left: 5rem;
}

.animecard__dislike {
  left: 1rem;
}

.animecard__button--image {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 90%;
  height: 90%;
}

.animecard__information {
  display: none;
  flex-direction: column;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;
  border-radius: 1rem 1rem 0 0;

  padding: 1rem;

  font-family: var(--ff-sans);
  font-size: 1rem;

  background: var(--color-gradient-gris-noir);
  color: var(--color-blanche);

  gap: 1rem;
}

.important {
  font-family: var(--ff-sans-bold);
}

.colored {
  color: var(--color-green);
}

#iframeContainer {
  display: none;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: var(--color-noir-80);
}

iframe {
  display: block;

  width: 75%;
  height: 75%;
  border: none;
}

#closeBtn {
  display: block;

  position: absolute;
  top: 1rem;
  right: 1rem;

  font-family: var(--ff-sans);
  font-size: 2rem;
  color: var(--color-blanche);

  cursor: pointer;
}
