<div class="animecard">
  <div class="animecard__image">
    <img
      src="../server/images/{{Affiche}}"
      alt="Affiche de l'anime : {{Name}}"
      class="animecard__image--affiche trailer-trigger"
      data-trailer="{{Trailer}}"
    />

    <div
      class="animecard__information trailer-trigger"
      data-trailer="{{Trailer}}"
    >
      <h2 class="animecard__information--title">
        <span class="important">{{Name}}</span>
      </h2>
      <p class="animecard__information--director">Réalisateur : {{Director}}</p>
      <p class="animecard__information--description">
        Description : {{Description}}
      </p>
      <p class="animecard__information--year">
        Date de sortie : <span class="important colored">{{Year}}</span>
      </p>
      <p class="animecard__information--time">
        Durée : <span class="important colored">{{Length}}</span> minutes
      </p>
      <p class="animecard__information--min-age">
        Âge minimum : <span class="important colored">{{Min_Age}}</span> ans
      </p>

      <div class="animecard__actions">
        <button
          class="animecard__like"
          data-id="{{id}}"
          onclick="handleLike(this)"
        >
          <img
            src="../server/images/like.svg"
            alt="Like sur l'anime : {{Name}}"
            class="animecard__button--image"
          />
        </button>

        <button
          class="animecard__dislike"
          data-id="{{id}}"
          onclick="handleDislike(this)"
        >
          <img
            src="../server/images/dislike.svg"
            alt="Dislike sur l'anime : {{Name}}"
            class="animecard__button--image"
          />
        </button>
      </div>
    </div>
  </div>
</div>
