body {
  padding-bottom: 5rem;

  background-color: var(--color-noir);
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, auto));
  align-items: center;
  justify-content: center;

  margin-top: 1rem;
  gap: 1.5rem;
  padding: 0 2rem;
}

.category__selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 1rem;
  gap: 1rem;
  margin: 1rem 0;

  font-family: Arial, sans-serif;
}

.category__selector--title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;

  color: var(--color-blanche);
}

.category__selector--options {
  display: flex;

  width: 80%;
  max-width: 20rem;
  padding: 0.5rem;
  border-radius: 0.5rem;

  text-align: center;
  font-size: 1rem;

  background-color: var(--color-blanche);
  color: #333;
  border-color: var(--color-jaune-fonce);
  cursor: pointer;

  transition: all 0.3s ease;
}

.category__selector--options:hover {
  border-color: var(--color-jaune);
}

.category__selector--option {
  padding: 0.5rem;
}

p {
  font-family: var(--ff-sans);
  font-size: 1rem;

  color: var(--color-blanche);
}
