body {
  padding-bottom: 5rem;

  background-color: var(--color-gray-fonce2);
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, auto));
  align-items: center;
  justify-content: center;

  margin-top: 1rem;
  gap: 1.5rem;
  padding: 0 2rem;
}

.category__selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;

  padding: 1rem;
  padding-left: 3rem;
  padding-top: 1rem;
  gap: 1rem;
  margin: 1rem 0;

  font-family: Arial, sans-serif;
}

.category__selector--title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;

  color: var(--color-blanche);
}

.category__selector--select {
  background: none;
  border: 1px solid var(--color-blanche-froid);
  border-radius: 0.5rem;
  background-image: none;
  font-family: var(--ff-sans);
  font-size: 1.2rem;
  color: var(--color-blanche);
  text-align: left;
  cursor: pointer;

  padding: 0;
  margin: 0;
}

.category__selector--select::after {
  content: "▼";
}

.category__selector--select:hover {
  border: 1px solid var(--color-green);
}

.category__selector--select {
  padding: 0.5rem;
}

p {
  font-family: var(--ff-sans);
  font-size: 1rem;

  color: var(--color-blanche);
}

@media (min-width: 48rem) {
  .category__selector {
    padding-top: 5rem;
  }
}
