@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,700&display=swap");

:root {
  --color-noir: #000000;
  --color-noir-50: #00000080;
  --color-noir-80: #000000cc;
  --color-blanche: #ffffff;
  --color-blanche-froid: #dcdcdc;
  --color-jaune: #ffcc00;
  --color-jaune-fonce: #b8860b;
  --color-gray: #808080;
  --color-gray-fonce: #242424;

  --ff-sans: "DM Sans", sans-serif;
}
