@import url(https://db.onlinewebfonts.com/c/1f8334465dcfc84ca1372d055364e229?family=DIN+Next+LT+W04+Regular);
@import url(https://db.onlinewebfonts.com/c/35d509d97591297fd2b00300fd4eb5ab?family=DIN+Next+LT+W04+Bold);

:root {
  --color-noir: #000000;
  --color-noir-50: #00000080;
  --color-noir-80: #000000cc;
  --color-blanche: #ffffff;
  --color-blanche-froid: #dcdcdc;
  --color-jaune: #ffcc00;
  --color-jaune-fonce: #b8860b;
  --color-gray: #c7c7ca;
  --color-gray-fonce: #0e0f17e6;
  --color-gray-fonce2: #1a1c28;
  --color-green: #03ddbd;
  --color-green-fonce: #014a3f;
  --color-accent: var(--color-green);
  --color-gradient-gris-noir: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 1)
  );

  --ff-sans: "DIN Next LT W04 Regular", sans-serif;
  --ff-sans-bold: "DIN Next LT W04 Bold", sans-serif;
}
