.log {
  display: flex;
  align-items: center;

  margin: 1rem auto;

  width: 30rem;
  height: 8rem;
  padding: 1rem 1rem 1rem 1.5rem;
  border-style: solid;
  border-color: var(--color-gray);
  border-radius: 1rem;
  overflow: hidden;

  background-color: var(--color-noir);
  box-shadow: 0 4px 6px var(--color-noir-50);

  .log__list {
    overflow-y: scroll;

    font-family: var(--ff-sans);
    font-size: smaller;
    color: var(--color-accent);

    .last {
      animation: fondu-en-entree 1s ease-in-out;
    }

    .clignotant {
      animation: clignotement 2.5s infinite;
    }
  }
}

@keyframes fondu-en-entree {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes clignotement {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
